{% extends 'base.html' %}

{% block extra_js %}

<script>
var intervalID;
function request_server() {
	// run ajax request
	console.log('requesting status from test.progress');

	var token = document.getElementById("token").value;
	var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            console.log('xhttp response = '+this.responseText);
            var b = JSON.parse(this.responseText);
            document.getElementById("progress").innerHTML = "<div class='progress-bar bg-green' style='width:" + b.progress + "%'></div>";
            if (b.progress == 100 || b.progress == 200) { // 200 implies the test is no longer alive 
                document.getElementById("done").innerHTML = "<div class='alert alert-success' role='alert'> Your test is done running! </div>";
                document.getElementById("report").innerHTML = "<a href='report/" + b.report_id + "' class='btn btn-pill btn-info'>Show Report</a>"
                document.getElementById("progress").style.display = 'none';
                clearInterval(intervalID);
            }
        }
    };
	xhttp.open("GET","/eos/progress/?"+token, true);
	xhttp.send();
}


function onload() {
	intervalID = setInterval(request_server, 1000);
}

window.onload = onload();

</script>



{% endblock %}

{% block content %}

<h3>You are currently running: {{test_name}}</h3>

{% if threadid %}


<input type="hidden" id="token" name="token" value="{{threadid}}">

<div class="progress progress-sm" id="progress">
</div>

<div class="container d-flex">
	<div id="done">
	</div>
</div>

<div class="container d-flex">
	<div id="report">
	</div>
</div>



{% else %}
<div class="container d-flex">
<form class="form" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<label class="form-label">Test Parameters</label>
		<div class="selectgroup selectgroup-pills">

	{% for argument in arguments %}
		  <label class="selectgroup-item">
			  <input type="checkbox" name="value" value= {{argument}} class="selectgroup-input" checked="">
			  <span class="selectgroup-button">{{argument}}</span>
		  </label>

	{% endfor %}

		<input type="hidden" name="uuid" value="{{ uuid_hidden }}">
		<button type="submit" class='btn btn-success'>Run the {{test_name}}</button>

		</div>
	</form>
</div>


{% endif %}
{% endblock %}
