{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="header py-4">
	<div class="container">
		<div class="d-flex">
			<a class="header-brand" href="/eos/">
				<img class="header-brand-img" src="{% static 'img/crash_test_dummy.png' %}">
			</a>
			<h1 class="page-title"> Altia Test Server </h1>
		</div>
	</div>
</div>

{% if not tests %}

	<div class="page-header">			
		<div class="container">
				<h3> There are no tests to make a Test Suite! </h3>
	</div>
</div>


{% else %}

<form class="form" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<label class="form-label">Choose the Tests you want to include in the Suite</label>
		<div class="selectgroup selectgroup-pills">

{% for test in tests %}
	  <label class="selectgroup-item">
		  <input type="checkbox" name="value" value= {{test.name}} class="selectgroup-input" checked="">
		  <span class="selectgroup-button">{{test.name}}</span>
	  </label>

{% endfor %}

	<input type="text" name="TestSuiteName" value="Test Suite Name">
	<button type="submit" class='btn btn-success'>Create it boi</button>

	</div>
</form>

{% endif %}
{% endblock %}
