{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="my-3 my-md-5">
   <div class="container">
      <div class="row">
         <div class="col-12">
		<form class="card" method="post" enctype="multipart/form-data"> 

			{% csrf_token %}

		   <div class="card-header"> 
			   <h3 class="card-title">Upload your script below:</h3>
		   </div>
			
		<div class="card-body d-flex flex-column">
			{{ form }}
		</div>

		<div class="card-footer">
			<button type="submit" class="btn btn-dark"><i class="fe fe-upload mr-2"></i>Upload</button>
		</div>

		</form>

	  </div>
       </div>
    </div>
</div>


{% endblock %}
